html {
    scroll-behavior: smooth;
}
.about{
    padding-top: 40px;
}
.footer{
    font-size: 10px;
}
#footer{
    background-color: dimgray;
}
.home{
    padding-top: 40px;
}
@media only screen and (max-width: 600px) {
}