html {
    scroll-behavior: smooth;
}
.about{
    padding-top: 40px;
}
.imgpage{
    text-align: center;
    border: solid;
    border-width: 3px;
    border-radius: 15px;
    padding: 5px;
    border-color: #c0c0c0;
}
.footer{
    font-size: 10px;
}
#footer{
    background-color: dimgray;
}